reserved-book .book-card:hover {
    transform: scale(1) !important;
    z-index: 5;
    box-shadow: gray 0px 0px 1px;
}

reserved-book .book-card {
    max-width: 16rem;
    width: 100%;
    transition: all 0.5s ease-in-out;
    transform: rotateY(80deg) scaleX(0.6);
    box-shadow: gray -5px 5px 0px;
}

reserved-book .book-card-container:after{
    content: ' ';
    display: inline-block;
    min-width: 9rem;
    min-height: 1px;
}

reserved-book .scroll-btn{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5rem;
    z-index: 1;
    cursor: pointer;
}
reserved-book .scroll-btn:hover i{
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
}
reserved-book .scroll-btn i{
    font-size: 3rem;
}
reserved-book .scroll-btn-left{
    left: 0;
}
reserved-book .scroll-btn-right{
    right: 0;
}
